{
    "presets": [
        ["env",
        {
            "modules": false,
            "targets": {
                "browsers": ["> 1%", "last 2 versions", "Android >= 4.4", "iOS >= 8", "not ie <= 8"]
            },
            "useBuiltIns": true
        }],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "transform-vue-jsx",
        ["component", [
        {
            "libraryName": "mint-ui",
            "style": true
        }]]
    ],
    "env":
    {
        "test":
        {
            "presets": ["env", "stage-2"],
            "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
        }
    }
}